<h3>Welcome, please sign up to use more features.</h3>
<p>
    Please enter a password and email that you wish to use,
    the email must be valid as we will send a verification email
    to you to enhance security after signing up. We will also send you 
    an email after each time you sign in, just to let you know that you
    have been signed in. This is to allow you know if someone is messing
    with you. Without a verified email, a person cannot post new content,
    but the user will still be able to save likes.
</p>
<div [formGroup]="registerForm">
    <div class="form-group">
        <label>Email: </label>
        <input class="form-control" formControlName="email" type="email" />
    </div>
    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.email">
            <div id="badMessage" class="error-message" *ngIf="registerForm.get('email').hasError(error.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                {{ error.message }}
            </div>
        </ng-container>
    </div>

    <div class="form-group">
        <label>Password: </label>
        <input class="form-control" formControlName="password" type="password" />
    </div>
    <div class="error-messages">
        <ng-container *ngFor="let error of error_messages.password">
            <div id="badMessage" class="error-message" *ngIf="registerForm.get('password').hasError(error.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                {{ error.message }}
            </div>
        </ng-container>
    </div>

    <div class="form-group">
		<label>Confirm Password: </label>
		<input class="form-control" formControlName="confirmpassword" type="password" />
	</div>
	<div class="error-messages">
		<ng-container *ngFor="let error of error_messages.confirmpassword">
			<div id="badMessage" class="error-message" *ngIf="registerForm.get('confirmpassword').hasError(error.type) && (registerForm.get('confirmpassword').dirty || registerForm.get('confirmpassword').touched)">
	    		{{ error.message }}
			</div>
		</ng-container>
    </div>
    <div id="badMessage" *ngIf="passwordNotMatch" >
        Passwords do not Match!
    </div>
</div>
<!-- TODO: Add ReCaptcha support -->

<!-- <button class="form-control btn btn-primary" [disabled]="!registerForm.valid && !passwordNotMatch && !registerForm.get('password').touched">Register Me!</button> -->
<button type="submit" class="form-control btn btn-primary" 
    [disabled]="!registerForm.valid || passwordNotMatch"
    (click)="tryRegister(registerForm.value)">Register Me!</button>
<div id="successfulCreation" *ngIf="accountSuccess">
    Your account has been successfully created.
</div>
<div id="AccountAlreadyExists" *ngIf="accountError">
    Sorry, but this account already exists, please chose something else
    or log in using the account, if you don't remember your account password,
    please use the handy "I forgot my password" page.
</div>
