<h2>Please Log in</h2>

<form>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password (MAKE MORE SECURE)</label><br>
    <input type="password" id="password" name="password">
</form>
<button>Login</button>
<br>
<button class="nav-item nav-link-edit" routerLink="/login/forgot" routerLinkActive="active">Forgot Password!</button>
<button class="nav-item nav-link-edit" routerLink="/login/register" routerLinkActive="active">Register</button>
